In [2]:
import logging
import boto3
import os
import io
from botocore.config import Config
import pandas as pd
pd.set_option('display.max_colwidth', None)
pd.set_option("display.max_columns", None)
from dotenv import load_dotenv
load_dotenv('/home/train/02_mlops_docker/.env')

True

# With keys

In [3]:
ACCESS_KEY = os.getenv('AWS_ACCESS_KEY_ID')
SECRET_KEY = os.getenv('AWS_SECRET_ACCESS_KEY')

In [4]:
print(ACCESS_KEY)
print(SECRET_KEY)

trainkey
trainsecret

In [5]:
def get_s3_client():
    s3 = boto3.client('s3',
                      endpoint_url='http://localhost:9000',
                      aws_access_key_id=ACCESS_KEY,
                      aws_secret_access_key=SECRET_KEY,
                      config=Config(signature_version='s3v4'))
    return s3


def get_s3_resource():
    s3_res = boto3.resource('s3',
                            endpoint_url='http://localhost:9000',
                            aws_access_key_id=ACCESS_KEY,
                            aws_secret_access_key=SECRET_KEY,
                            config=Config(signature_version='s3v4'))
    return s3_res

In [6]:
def load_df_from_s3(bucket, key, index_col=None, usecols=None):
    ''' Read a csv from a s3 bucket & load into pandas dataframe'''
    s3 = get_s3_client()
    try:
        logging.info(f"Loading {bucket, key}")
        obj = s3.get_object(Bucket=bucket, Key=key)
        return pd.read_csv(obj['Body'], index_col=index_col, usecols=usecols, low_memory=False)
    except Exception as e:
        raise logging.exception(e)

In [7]:
def save_df_to_s3(df, bucket, key, index=False):
    ''' Store df as a buffer, then save buffer to s3'''
    s3_res = get_s3_resource()
    try:
        csv_buffer = io.StringIO()
        df.to_csv(csv_buffer, index=False)
        s3_res.Object(bucket, key).put(Body=csv_buffer.getvalue())
        logging.info(f'{key} saved to s3 bucket {bucket}')
    except Exception as e:
        raise logging.exception(e)

In [8]:
def create_bucket(bucket_name: str):
    s3_res = get_s3_resource()
    try:
        s3_res.create_bucket(Bucket=bucket_name)
        logging.info(f"{bucket_name} created.")
    except Exception as e:
        print(e)

In [9]:
! curl -o ~/datasets/Advertising.csv https://raw.githubusercontent.com/erkansirin78/datasets/master/Advertising.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  4556  100  4556    0     0   7929      0 --:--:-- --:--:-- --:--:--  7923

In [10]:
df = pd.read_csv("/home/train/datasets/Advertising.csv")

In [11]:
df.head()

   ID     TV  Radio  Newspaper  Sales
0   1  230.1   37.8       69.2   22.1
1   2   44.5   39.3       45.1   10.4
2   3   17.2   45.9       69.3    9.3
3   4  151.5   41.3       58.5   18.5
4   5  180.8   10.8       58.4   12.9

# Save to S3 (MinIO)

## Create bucket

In [12]:
create_bucket("mlops-test")

In [13]:
save_df_to_s3(df=df, bucket='mlops-test', key='Advertising.csv')

# Read from S3 (MinIO)

In [14]:
df_from_s3 = load_df_from_s3( bucket='mlops-test', key='Advertising.csv')

In [15]:
df_from_s3.head()

   ID     TV  Radio  Newspaper  Sales
0   1  230.1   37.8       69.2   22.1
1   2   44.5   39.3       45.1   10.4
2   3   17.2   45.9       69.3    9.3
3   4  151.5   41.3       58.5   18.5
4   5  180.8   10.8       58.4   12.9

# Without keys

In [16]:
def get_s3_client():
    s3 = boto3.client('s3',
                      endpoint_url='http://localhost:9000',
                      config=Config(signature_version='s3v4'))
    return s3


def get_s3_resource():
    s3_res = boto3.resource('s3',
                            endpoint_url='http://localhost:9000',
                            config=Config(signature_version='s3v4'))
    return s3_res

In [17]:
df_from_s3 = load_df_from_s3( bucket='mlops-test', key='Advertising.csv')

In [18]:
df_from_s3.head()

   ID     TV  Radio  Newspaper  Sales
0   1  230.1   37.8       69.2   22.1
1   2   44.5   39.3       45.1   10.4
2   3   17.2   45.9       69.3    9.3
3   4  151.5   41.3       58.5   18.5
4   5  180.8   10.8       58.4   12.9