# Create a SQLModel Model

In [1]:
from typing import Optional
from sqlmodel import Field, SQLModel

In [2]:
class Student(SQLModel, table=True):
    id: Optional[int] = Field(default=None, primary_key=True)
    name: str
    user_name: str
    degree: Optional[int] = None

In [3]:
# That class Student is a SQLModel model, the equivalent of a SQL table in Python code.

## Create Rows

In [4]:
std_1 = Student(name="Hicaziye HAMİDİYELİ", user_name="crazy_hicaziye")
std_2 = Student(name="Satılmış KURT", user_name="naive_18")
std_3 = Student(name="Menşure GÜNDÜZ", user_name="angel_eyes", degree=3)

# Write to the Database

In [5]:
from sqlmodel import create_engine

In [6]:
SQLALCHEMY_DATABASE_URL="postgresql://train:Ankara06@localhost:5433/traindb"

In [7]:
engine = create_engine(SQLALCHEMY_DATABASE_URL, echo=True)

In [8]:
# Create tables defined in postgresql
def create_db_and_tables():
    SQLModel.metadata.create_all(engine)

In [9]:
create_db_and_tables()

2022-11-19 16:34:29,812 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2022-11-19 16:34:29,815 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-11-19 16:34:29,820 INFO sqlalchemy.engine.Engine select current_schema()
2022-11-19 16:34:29,823 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-11-19 16:34:29,828 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2022-11-19 16:34:29,830 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-11-19 16:34:29,835 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 16:34:29,840 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-11-19 16:34:29,843 INFO sqlalchemy.engine.Engine [generated in 0.00319s] {'name': 'student'}
2022-11-19 16:34:29,850 INFO sqlalchemy.engine.Engine
CREATE TABLE student (
	id SERIAL NOT NULL,
	name VARCHAR NOT NULL,
	user_name VARCHAR NOT NULL,
	degree INTEGER,
	PRIMARY KEY (id)
)


2022-11-19 16:34:29,853 INFO sqlalchemy.engine.Engine [no key 0.00255s] {}
2022-11-19 16:34:29,876 INFO sqlalchemy.engine.Engine COMMIT

    docker exec -it postgresql psql -U train -d traindb

    traindb=> \dt
            List of relations
     Schema |  Name   | Type  | Owner
    --------+---------+-------+-------
     public | student | table | train
    (1 row)

In [10]:
from sqlmodel import Session

In [11]:
with Session(engine) as session:
    session.add(std_1)
    session.add(std_2)
    session.add(std_3)
    session.commit()

2022-11-19 16:34:55,262 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 16:34:55,273 INFO sqlalchemy.engine.Engine INSERT INTO student (name, user_name, degree) VALUES (%(name)s, %(user_name)s, %(degree)s) RETURNING student.id
2022-11-19 16:34:55,276 INFO sqlalchemy.engine.Engine [generated in 0.00311s] ({'name': 'Hicaziye HAMİDİYELİ', 'user_name': 'crazy_hicaziye', 'degree': None}, {'name': 'Satılmış KURT', 'user_name': 'naive_18', 'degree': None}, {'name': 'Menşure GÜNDÜZ', 'user_name': 'angel_eyes', 'degree': 3})
2022-11-19 16:34:55,285 INFO sqlalchemy.engine.Engine COMMIT

    traindb=> select * from "student";
     id |        name         |   user_name    | degree
    ----+---------------------+----------------+--------
      1 | Hicaziye HAMİDİYELİ | crazy_hicaziye |
      2 | Satılmış KURT       | naive_18       |
      3 | Menşure GÜNDÜZ      | angel_eyes     |      3

# Select from the Database

In [12]:
from sqlmodel import select

In [13]:
with Session(engine) as session:
    statement = select(Student).where(Student.name == "Menşure GÜNDÜZ")
    student = session.exec(statement).first()
    print(student)

2022-11-19 16:36:34,551 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 16:36:34,558 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
WHERE student.name = %(name_1)s
2022-11-19 16:36:34,561 INFO sqlalchemy.engine.Engine [generated in 0.00301s] {'name_1': 'Menşure GÜNDÜZ'}
user_name='angel_eyes' name='Menşure GÜNDÜZ' id=3 degree=3
2022-11-19 16:36:34,567 INFO sqlalchemy.engine.Engine ROLLBACK

    That class Student is a SQLModel model.

    But at the same time, it is a SQLAlchemy model. So, you can combine it and use it with other SQLAlchemy models, or you could easily migrate applications with SQLAlchemy to SQLModel.

    And at the same time, it is also a Pydantic model. You can use inheritance with it to define all your data models while avoiding code duplication. That makes it very easy to use with FastAPI.