In [1]:
from typing import Optional
from sqlmodel import Field, SQLModel, create_engine, Session

In [2]:
class Student(SQLModel, table=True):
    id: Optional[int] = Field(default=None, primary_key=True)
    name: str
    user_name: str
    degree: Optional[int] = None

In [3]:
SQLALCHEMY_DATABASE_URL="postgresql://train:Ankara06@localhost:5433/traindb"

In [4]:
engine = create_engine(SQLALCHEMY_DATABASE_URL, echo=True)

In [5]:
# Create tables defined in postgresql
def create_db_and_tables():
    SQLModel.metadata.create_all(engine)

In [6]:
def create_students():
    std_1 = Student(name="Hicaziye HAMİDİYELİ", user_name="crazy_hicaziye")
    std_2 = Student(name="Satılmış KURT", user_name="naive_18")
    std_3 = Student(name="Menşure GÜNDÜZ", user_name="angel_eyes", degree=3)

    with Session(engine) as session:  # 
        session.add(std_1)
        session.add(std_2)
        session.add(std_3)
        session.commit()

In [7]:
create_db_and_tables()
create_students()

2022-11-19 16:37:59,333 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2022-11-19 16:37:59,335 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-11-19 16:37:59,340 INFO sqlalchemy.engine.Engine select current_schema()
2022-11-19 16:37:59,347 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-11-19 16:37:59,352 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2022-11-19 16:37:59,359 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-11-19 16:37:59,366 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 16:37:59,370 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-11-19 16:37:59,373 INFO sqlalchemy.engine.Engine [generated in 0.00310s] {'name': 'student'}
2022-11-19 16:37:59,378 INFO sqlalchemy.engine.Engine COMMIT
2022-11-19 16:37:59,387 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 16:37:59,394 INFO sqlalchemy.engine.Engine INSERT INTO student (name, user_name, degree) VALUES (%(name)s, %(user_name)s, %(degree)s) RETURNING student.id
2022-11-19 16:37:59,397 INFO sqlalchemy.engine.Engine [generated in 0.00272s] ({'name': 'Hicaziye HAMİDİYELİ', 'user_name': 'crazy_hicaziye', 'degree': None}, {'name': 'Satılmış KURT', 'user_name': 'naive_18', 'degree': None}, {'name': 'Menşure GÜNDÜZ', 'user_name': 'angel_eyes', 'degree': 3})
2022-11-19 16:37:59,405 INFO sqlalchemy.engine.Engine COMMIT

# Commit the Changes to the Database

In [8]:
def create_students2():
    std_1 = Student(name="Hicaziye HAMİDİYELİ", user_name="crazy_hicaziye")
    std_2 = Student(name="Satılmış KURT", user_name="naive_18")
    std_3 = Student(name="Menşure GÜNDÜZ", user_name="angel_eyes", degree=3)

    with Session(engine) as session:  # 
        session.add(std_1)
        session.add(std_2)
        session.add(std_3)
        
        session.commit() 
        
        print("After committing the session")
        print("Student 1:", std_1)
        print("Student 2:", std_2)
        print("Student 3:", std_3)

In [9]:
create_students2()

2022-11-19 16:38:09,385 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 16:38:09,390 INFO sqlalchemy.engine.Engine INSERT INTO student (name, user_name, degree) VALUES (%(name)s, %(user_name)s, %(degree)s) RETURNING student.id
2022-11-19 16:38:09,392 INFO sqlalchemy.engine.Engine [cached since 9.998s ago] ({'name': 'Hicaziye HAMİDİYELİ', 'user_name': 'crazy_hicaziye', 'degree': None}, {'name': 'Satılmış KURT', 'user_name': 'naive_18', 'degree': None}, {'name': 'Menşure GÜNDÜZ', 'user_name': 'angel_eyes', 'degree': 3})
2022-11-19 16:38:09,396 INFO sqlalchemy.engine.Engine COMMIT
After committing the session
Student 1:
Student 2:
Student 3:

In [10]:
def create_students3():
    std_1 = Student(name="Hicaziye HAMİDİYELİ", user_name="crazy_hicaziye")
    std_2 = Student(name="Satılmış KURT", user_name="naive_18")
    std_3 = Student(name="Menşure GÜNDÜZ", user_name="angel_eyes", degree=3)

    with Session(engine) as session:  # 
        session.add(std_1)
        session.add(std_2)
        session.add(std_3)
        
        session.commit() 
        
        print("After committing the session")
        print("Student 1:", std_1)
        print("Student 2:", std_2)
        print("Student 3:", std_3)
        
        print("After committing the session, show IDs")
        print("Student 1 ID:", std_1.id)
        print("Student 2 ID:", std_2.id)
        print("Student 3 ID:", std_3.id)

        print("After committing the session, show names")
        print("Student 1 name:", std_1.name)
        print("Student 2 name:", std_2.name)
        print("Student 3 name:", std_3.name)

In [11]:
create_students3()

2022-11-19 16:38:16,406 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 16:38:16,411 INFO sqlalchemy.engine.Engine INSERT INTO student (name, user_name, degree) VALUES (%(name)s, %(user_name)s, %(degree)s) RETURNING student.id
2022-11-19 16:38:16,413 INFO sqlalchemy.engine.Engine [cached since 17.02s ago] ({'name': 'Hicaziye HAMİDİYELİ', 'user_name': 'crazy_hicaziye', 'degree': None}, {'name': 'Satılmış KURT', 'user_name': 'naive_18', 'degree': None}, {'name': 'Menşure GÜNDÜZ', 'user_name': 'angel_eyes', 'degree': 3})
2022-11-19 16:38:16,419 INFO sqlalchemy.engine.Engine COMMIT
After committing the session
Student 1:
Student 2:
Student 3:
After committing the session, show IDs
2022-11-19 16:38:16,429 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 16:38:16,438 INFO sqlalchemy.engine.Engine SELECT student.id AS student_id, student.name AS student_name, student.user_name AS student_user_name, student.degree AS student_degree
FROM student
WHERE student.id = %(pk_1)s
2022-11-19 16:38:16,441 INFO sqlalchemy.engine.Engine [generated in 0.00244s] {'pk_1': 10}
Student 1 ID: 10
2022-11-19 16:38:16,447 INFO sqlalchemy.engine.Engine SELECT student.id AS student_id, student.name AS student_name, student.user_name AS student_user_name, student.degree AS student_degree
FROM student
WHERE student.id = %(pk_1)s
2022-11-19 16:38:16,450 INFO sqlalchemy.engine.Engine [cached since 0.01148s ago] {'pk_1': 11}
Student 2 ID: 11
2022-11-19 16:38:16,455 INFO sqlalchemy.engine.Engine SELECT student.id AS student_id, student.name AS student_name, student.user_name AS student_user_name, student.degree AS student_degree
FROM student
WHERE student.id = %(pk_1)s
2022-11-19 16:38:16,457 INFO sqlalchemy.engine.Engine [cached since 0.01883s ago] {'pk_1': 12}
Student 3 ID: 12
After committing the session, show names
Student 1 name: Hicaziye HAMİDİYELİ
Student 2 name: Satılmış KURT
Student 3 name: Menşure GÜNDÜZ
2022-11-19 16:38:16,462 INFO sqlalchemy.engine.Engine ROLLBACK

    By accessing the attribute, that triggers a lot of work done by SQLModel (actually SQLAlchemy) underneath to refresh the data from the database, set it in the object's id attribute, and make it available for the Python expression (in this case just to print it).

# Refresh Objects Explicitly

In [12]:
def create_students4():
    std_1 = Student(name="Hicaziye HAMİDİYELİ", user_name="crazy_hicaziye")
    std_2 = Student(name="Satılmış KURT", user_name="naive_18")
    std_3 = Student(name="Menşure GÜNDÜZ", user_name="angel_eyes", degree=3)

    with Session(engine) as session:  # 
        session.add(std_1)
        session.add(std_2)
        session.add(std_3)
        
        session.commit() 
        
        print("After committing the session")
        print("Student 1:", std_1)
        print("Student 2:", std_2)
        print("Student 3:", std_3)
        
        session.refresh(std_1)
        session.refresh(std_2)
        session.refresh(std_3)
        
        print("After resfreshing the students")
        print("Student 1:", std_1)
        print("Student 2:", std_2)
        print("Student 3:", std_3)

In [13]:
create_students4()

2022-11-19 16:38:24,126 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 16:38:24,133 INFO sqlalchemy.engine.Engine INSERT INTO student (name, user_name, degree) VALUES (%(name)s, %(user_name)s, %(degree)s) RETURNING student.id
2022-11-19 16:38:24,135 INFO sqlalchemy.engine.Engine [cached since 24.74s ago] ({'name': 'Hicaziye HAMİDİYELİ', 'user_name': 'crazy_hicaziye', 'degree': None}, {'name': 'Satılmış KURT', 'user_name': 'naive_18', 'degree': None}, {'name': 'Menşure GÜNDÜZ', 'user_name': 'angel_eyes', 'degree': 3})
2022-11-19 16:38:24,141 INFO sqlalchemy.engine.Engine COMMIT
After committing the session
Student 1:
Student 2:
Student 3:
2022-11-19 16:38:24,147 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 16:38:24,151 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
WHERE student.id = %(pk_1)s
2022-11-19 16:38:24,153 INFO sqlalchemy.engine.Engine [generated in 0.00256s] {'pk_1': 13}
2022-11-19 16:38:24,158 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
WHERE student.id = %(pk_1)s
2022-11-19 16:38:24,161 INFO sqlalchemy.engine.Engine [cached since 0.01001s ago] {'pk_1': 14}
2022-11-19 16:38:24,165 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
WHERE student.id = %(pk_1)s
2022-11-19 16:38:24,168 INFO sqlalchemy.engine.Engine [cached since 0.01688s ago] {'pk_1': 15}
After resfreshing the students
Student 1: degree=None name='Hicaziye HAMİDİYELİ' id=13 user_name='crazy_hicaziye'
Student 2: degree=None name='Satılmış KURT' id=14 user_name='naive_18'
Student 3: degree=3 name='Menşure GÜNDÜZ' id=15 user_name='angel_eyes'
2022-11-19 16:38:24,172 INFO sqlalchemy.engine.Engine ROLLBACK

    refresh the session goes and makes the engine communicate with the database to get the recent data for this object hero_1, and then the session puts the data in the hero_1 object and marks it as "fresh" or "not expired".

# Print Data After Closing the Session

In [14]:
def create_students5():
    std_1 = Student(name="Hicaziye HAMİDİYELİ", user_name="crazy_hicaziye")
    std_2 = Student(name="Satılmış KURT", user_name="naive_18")
    std_3 = Student(name="Menşure GÜNDÜZ", user_name="angel_eyes", degree=3)

    with Session(engine) as session:  # 
        session.add(std_1)
        session.add(std_2)
        session.add(std_3)
        
        session.commit() 
        
        print("After committing the session")
        print("Student 1:", std_1)
        print("Student 2:", std_2)
        print("Student 3:", std_3)
        
        session.refresh(std_1)
        session.refresh(std_2)
        session.refresh(std_3)
        
        print("After resfreshing the students")
        print("Student 1:", std_1)
        print("Student 2:", std_2)
        print("Student 3:", std_3)
        
    print("After closing session")
    print("Student 1:", std_1)
    print("Student 2:", std_2)
    print("Student 3:", std_3)

In [15]:
create_students5()

2022-11-19 16:38:32,151 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 16:38:32,163 INFO sqlalchemy.engine.Engine INSERT INTO student (name, user_name, degree) VALUES (%(name)s, %(user_name)s, %(degree)s) RETURNING student.id
2022-11-19 16:38:32,166 INFO sqlalchemy.engine.Engine [cached since 32.77s ago] ({'name': 'Hicaziye HAMİDİYELİ', 'user_name': 'crazy_hicaziye', 'degree': None}, {'name': 'Satılmış KURT', 'user_name': 'naive_18', 'degree': None}, {'name': 'Menşure GÜNDÜZ', 'user_name': 'angel_eyes', 'degree': 3})
2022-11-19 16:38:32,173 INFO sqlalchemy.engine.Engine COMMIT
After committing the session
Student 1:
Student 2:
Student 3:
2022-11-19 16:38:32,182 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 16:38:32,186 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
WHERE student.id = %(pk_1)s
2022-11-19 16:38:32,189 INFO sqlalchemy.engine.Engine [cached since 8.038s ago] {'pk_1': 16}
2022-11-19 16:38:32,197 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
WHERE student.id = %(pk_1)s
2022-11-19 16:38:32,199 INFO sqlalchemy.engine.Engine [cached since 8.048s ago] {'pk_1': 17}
2022-11-19 16:38:32,207 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
WHERE student.id = %(pk_1)s
2022-11-19 16:38:32,210 INFO sqlalchemy.engine.Engine [cached since 8.059s ago] {'pk_1': 18}
After resfreshing the students
Student 1: degree=None name='Hicaziye HAMİDİYELİ' id=16 user_name='crazy_hicaziye'
Student 2: degree=None name='Satılmış KURT' id=17 user_name='naive_18'
Student 3: degree=3 name='Menşure GÜNDÜZ' id=18 user_name='angel_eyes'
2022-11-19 16:38:32,214 INFO sqlalchemy.engine.Engine ROLLBACK
After closing session
Student 1: degree=None name='Hicaziye HAMİDİYELİ' id=16 user_name='crazy_hicaziye'
Student 2: degree=None name='Satılmış KURT' id=17 user_name='naive_18'
Student 3: degree=3 name='Menşure GÜNDÜZ' id=18 user_name='angel_eyes'