# Read Data - SELECT

In [1]:
from typing import Optional

from sqlmodel import Field, Session, SQLModel, create_engine, select

In [2]:
class Student(SQLModel, table=True):
    id: Optional[int] = Field(default=None, primary_key=True)
    name: str
    user_name: str
    degree: Optional[int] = None

In [3]:
SQLALCHEMY_DATABASE_URL="postgresql://train:Ankara06@localhost:5433/traindb"

In [4]:
engine = create_engine(SQLALCHEMY_DATABASE_URL, echo=True)

In [5]:
# Create tables defined in postgresql
def create_db_and_tables():
    SQLModel.metadata.create_all(engine)

In [6]:
create_db_and_tables()

2022-11-19 16:39:08,232 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2022-11-19 16:39:08,235 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-11-19 16:39:08,240 INFO sqlalchemy.engine.Engine select current_schema()
2022-11-19 16:39:08,244 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-11-19 16:39:08,248 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2022-11-19 16:39:08,251 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-11-19 16:39:08,256 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 16:39:08,260 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-11-19 16:39:08,265 INFO sqlalchemy.engine.Engine [generated in 0.00472s] {'name': 'student'}
2022-11-19 16:39:08,272 INFO sqlalchemy.engine.Engine COMMIT

In [7]:
def select_heroes():
    with Session(engine) as session:
        statement = select(Student)
        results = session.exec(statement)
        for std in results:
            print(std)

In [8]:
select_heroes()

2022-11-19 16:39:10,472 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 16:39:10,482 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
2022-11-19 16:39:10,486 INFO sqlalchemy.engine.Engine [generated in 0.00357s] {}
user_name='crazy_hicaziye' name='Hicaziye HAMİDİYELİ' id=1 degree=None
user_name='naive_18' name='Satılmış KURT' id=2 degree=None
user_name='angel_eyes' name='Menşure GÜNDÜZ' id=3 degree=3
user_name='crazy_hicaziye' name='Hicaziye HAMİDİYELİ' id=4 degree=None
user_name='naive_18' name='Satılmış KURT' id=5 degree=None
user_name='angel_eyes' name='Menşure GÜNDÜZ' id=6 degree=3
user_name='crazy_hicaziye' name='Hicaziye HAMİDİYELİ' id=7 degree=None
user_name='naive_18' name='Satılmış KURT' id=8 degree=None
user_name='angel_eyes' name='Menşure GÜNDÜZ' id=9 degree=3
user_name='crazy_hicaziye' name='Hicaziye HAMİDİYELİ' id=10 degree=None
user_name='naive_18' name='Satılmış KURT' id=11 degree=None
user_name='angel_eyes' name='Menşure GÜNDÜZ' id=12 degree=3
user_name='crazy_hicaziye' name='Hicaziye HAMİDİYELİ' id=13 degree=None
user_name='naive_18' name='Satılmış KURT' id=14 degree=None
user_name='angel_eyes' name='Menşure GÜNDÜZ' id=15 degree=3
user_name='crazy_hicaziye' name='Hicaziye HAMİDİYELİ' id=16 degree=None
user_name='naive_18' name='Satılmış KURT' id=17 degree=None
user_name='angel_eyes' name='Menşure GÜNDÜZ' id=18 degree=3
2022-11-19 16:39:10,493 INFO sqlalchemy.engine.Engine ROLLBACK

    This will tell the session to go ahead and use the engine to execute that SELECT statement in the database and bring the results back.

    Because we created the engine with echo=True, it will show the SQL it executes in the output.

# Filter Data - WHERE

In [9]:
def select_not_mensure():
    with Session(engine) as session:
        statement = select(Student).where(Student.name != 'Menşure GÜNDÜZ')
        results = session.exec(statement)
        for std in results:
            print(std)

In [10]:
select_not_mensure()

2022-11-19 16:39:13,463 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 16:39:13,471 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
WHERE student.name != %(name_1)s
2022-11-19 16:39:13,474 INFO sqlalchemy.engine.Engine [generated in 0.00275s] {'name_1': 'Menşure GÜNDÜZ'}
user_name='crazy_hicaziye' name='Hicaziye HAMİDİYELİ' id=1 degree=None
user_name='naive_18' name='Satılmış KURT' id=2 degree=None
user_name='crazy_hicaziye' name='Hicaziye HAMİDİYELİ' id=4 degree=None
user_name='naive_18' name='Satılmış KURT' id=5 degree=None
user_name='crazy_hicaziye' name='Hicaziye HAMİDİYELİ' id=7 degree=None
user_name='naive_18' name='Satılmış KURT' id=8 degree=None
user_name='crazy_hicaziye' name='Hicaziye HAMİDİYELİ' id=10 degree=None
user_name='naive_18' name='Satılmış KURT' id=11 degree=None
user_name='crazy_hicaziye' name='Hicaziye HAMİDİYELİ' id=13 degree=None
user_name='naive_18' name='Satılmış KURT' id=14 degree=None
user_name='crazy_hicaziye' name='Hicaziye HAMİDİYELİ' id=16 degree=None
user_name='naive_18' name='Satılmış KURT' id=17 degree=None
2022-11-19 16:39:13,481 INFO sqlalchemy.engine.Engine ROLLBACK

# Multiple .where()

## AND

In [11]:
def select_not_mensure2():
    with Session(engine) as session:
        statement = select(Student).where(Student.name != 'Menşure GÜNDÜZ', 
                                          Student.degree == None)
        results = session.exec(statement)
        for std in results:
            print(std)

In [12]:
select_not_mensure2()

2022-11-19 16:39:19,367 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 16:39:19,377 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
WHERE student.name != %(name_1)s AND student.degree IS NULL
2022-11-19 16:39:19,383 INFO sqlalchemy.engine.Engine [generated in 0.00671s] {'name_1': 'Menşure GÜNDÜZ'}
user_name='crazy_hicaziye' name='Hicaziye HAMİDİYELİ' id=1 degree=None
user_name='naive_18' name='Satılmış KURT' id=2 degree=None
user_name='crazy_hicaziye' name='Hicaziye HAMİDİYELİ' id=4 degree=None
user_name='naive_18' name='Satılmış KURT' id=5 degree=None
user_name='crazy_hicaziye' name='Hicaziye HAMİDİYELİ' id=7 degree=None
user_name='naive_18' name='Satılmış KURT' id=8 degree=None
user_name='crazy_hicaziye' name='Hicaziye HAMİDİYELİ' id=10 degree=None
user_name='naive_18' name='Satılmış KURT' id=11 degree=None
user_name='crazy_hicaziye' name='Hicaziye HAMİDİYELİ' id=13 degree=None
user_name='naive_18' name='Satılmış KURT' id=14 degree=None
user_name='crazy_hicaziye' name='Hicaziye HAMİDİYELİ' id=16 degree=None
user_name='naive_18' name='Satılmış KURT' id=17 degree=None
2022-11-19 16:39:19,394 INFO sqlalchemy.engine.Engine ROLLBACK

## OR

In [13]:
from sqlmodel import or_

In [14]:
def select_not_mensure3():
    with Session(engine) as session:
        statement = select(Student).where(or_(Student.user_name=='naive_18', 
                                              Student.user_name=='angel_eyes'))
        results = session.exec(statement)
        for std in results:
            print(std)

In [15]:
select_not_mensure3()

2022-11-19 16:39:22,592 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 16:39:22,608 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
WHERE student.user_name = %(user_name_1)s OR student.user_name = %(user_name_2)s
2022-11-19 16:39:22,610 INFO sqlalchemy.engine.Engine [generated in 0.00246s] {'user_name_1': 'naive_18', 'user_name_2': 'angel_eyes'}
user_name='naive_18' name='Satılmış KURT' id=2 degree=None
user_name='angel_eyes' name='Menşure GÜNDÜZ' id=3 degree=3
user_name='naive_18' name='Satılmış KURT' id=5 degree=None
user_name='angel_eyes' name='Menşure GÜNDÜZ' id=6 degree=3
user_name='naive_18' name='Satılmış KURT' id=8 degree=None
user_name='angel_eyes' name='Menşure GÜNDÜZ' id=9 degree=3
user_name='naive_18' name='Satılmış KURT' id=11 degree=None
user_name='angel_eyes' name='Menşure GÜNDÜZ' id=12 degree=3
user_name='naive_18' name='Satılmış KURT' id=14 degree=None
user_name='angel_eyes' name='Menşure GÜNDÜZ' id=15 degree=3
user_name='naive_18' name='Satılmış KURT' id=17 degree=None
user_name='angel_eyes' name='Menşure GÜNDÜZ' id=18 degree=3
2022-11-19 16:39:22,616 INFO sqlalchemy.engine.Engine ROLLBACK