In [1]:
from typing import Optional

from sqlmodel import Field, Session, SQLModel, create_engine, select

In [3]:
class Student(SQLModel, table=True):
    id: Optional[int] = Field(default=None, primary_key=True)
    name: str = Field(index=True)
    user_name: str
    degree: Optional[int] = None

In [2]:
SQLALCHEMY_DATABASE_URL="postgresql://train:Ankara06@localhost:5433/traindb"

In [4]:
engine = create_engine(SQLALCHEMY_DATABASE_URL, echo=True)

In [11]:
def create_db_and_tables():
    SQLModel.metadata.create_all(engine)

In [12]:
create_db_and_tables()

2022-11-19 17:08:32,827 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 17:08:32,837 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-11-19 17:08:32,841 INFO sqlalchemy.engine.Engine [generated in 0.00415s] {'name': 'student'}
2022-11-19 17:08:32,847 INFO sqlalchemy.engine.Engine COMMIT

In [13]:
def create_students():
    std_1 = Student(name="Hicaziye HAMİDİYELİ", user_name="crazy_hicaziye")
    std_2 = Student(name="Satılmış KURT", user_name="naive_18")
    std_3 = Student(name="Menşure GÜNDÜZ", user_name="angel_eyes", degree=3)

    with Session(engine) as session:  # 
        session.add(std_1)
        session.add(std_2)
        session.add(std_3)
        session.commit()

In [14]:
create_students()

2022-11-19 17:08:35,137 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 17:08:35,146 INFO sqlalchemy.engine.Engine INSERT INTO student (name, user_name, degree) VALUES (%(name)s, %(user_name)s, %(degree)s) RETURNING student.id
2022-11-19 17:08:35,148 INFO sqlalchemy.engine.Engine [generated in 0.00288s] ({'name': 'Hicaziye HAMİDİYELİ', 'user_name': 'crazy_hicaziye', 'degree': None}, {'name': 'Satılmış KURT', 'user_name': 'naive_18', 'degree': None}, {'name': 'Menşure GÜNDÜZ', 'user_name': 'angel_eyes', 'degree': 3})
2022-11-19 17:08:35,158 INFO sqlalchemy.engine.Engine COMMIT

## Exactly One

    There might be cases where we want to ensure that there's exactly one row matching the query.

    And if there was more than one, it would mean that there's an error in the system, and we should terminate with an error.

In [15]:
def select_students():
    with Session(engine) as session:
        statement = select(Student).where(Student.user_name == "naive_18")
        results = session.exec(statement)
        student = results.one()
        print("Student:", student)

In [16]:
select_students()

2022-11-19 17:08:43,583 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 17:08:43,591 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
WHERE student.user_name = %(user_name_1)s
2022-11-19 17:08:43,595 INFO sqlalchemy.engine.Engine [cached since 124s ago] {'user_name_1': 'naive_18'}
Student: degree=None name='Satılmış KURT' user_name='naive_18' id=2
2022-11-19 17:08:43,600 INFO sqlalchemy.engine.Engine ROLLBACK

## Exactly One with More Data

In [17]:
def select_students2():
    with Session(engine) as session:
        statement = select(Student).where(Student.degree == None)
        results = session.exec(statement)
        student = results.one()
        print("Student:", student)

In [18]:
select_students2()

2022-11-19 17:10:01,855 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 17:10:01,865 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
WHERE student.degree IS NULL
2022-11-19 17:10:01,869 INFO sqlalchemy.engine.Engine [generated in 0.00481s] {}
2022-11-19 17:10:01,875 INFO sqlalchemy.engine.Engine ROLLBACK

MultipleResultsFound: Multiple rows were found when exactly one was required

## Exactly One with No Data

In [19]:
def select_students3():
    with Session(engine) as session:
        statement = select(Student).where(Student.degree == 4)
        results = session.exec(statement)
        student = results.one()
        print("Student:", student)

In [20]:
select_students3()

2022-11-19 17:11:34,713 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 17:11:34,721 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
WHERE student.degree = %(degree_1)s
2022-11-19 17:11:34,724 INFO sqlalchemy.engine.Engine [generated in 0.00258s] {'degree_1': 4}
2022-11-19 17:11:34,728 INFO sqlalchemy.engine.Engine ROLLBACK

NoResultFound: No row was found when one was required

# Select by Id with .get()

    As selecting a single row by its Id column with the primary key is a common operation, there's a shortcut for it:

In [21]:
def select_students4():
    with Session(engine) as session:
        student = session.get(Student, 1)
        print("Student:", student)

In [22]:
select_students4()

2022-11-19 17:37:41,424 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 17:37:41,430 INFO sqlalchemy.engine.Engine SELECT student.id AS student_id, student.name AS student_name, student.user_name AS student_user_name, student.degree AS student_degree
FROM student
WHERE student.id = %(pk_1)s
2022-11-19 17:37:41,432 INFO sqlalchemy.engine.Engine [generated in 0.00241s] {'pk_1': 1}
Student: degree=None name='Hicaziye HAMİDİYELİ' user_name='crazy_hicaziye' id=1
2022-11-19 17:37:41,441 INFO sqlalchemy.engine.Engine ROLLBACK

# Select by Id with .get() with No Data

In [25]:
# If there's no data it will simply return None

In [23]:
def select_students5():
    with Session(engine) as session:
        student = session.get(Student, 15)
        print("Student:", student)

In [24]:
select_students5()

2022-11-19 17:38:33,020 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 17:38:33,027 INFO sqlalchemy.engine.Engine SELECT student.id AS student_id, student.name AS student_name, student.user_name AS student_user_name, student.degree AS student_degree
FROM student
WHERE student.id = %(pk_1)s
2022-11-19 17:38:33,030 INFO sqlalchemy.engine.Engine [cached since 51.6s ago] {'pk_1': 15}
Student: None
2022-11-19 17:38:33,037 INFO sqlalchemy.engine.Engine ROLLBACK