In [1]:
from typing import Optional
from sqlmodel import Field, Session, SQLModel, create_engine, select

In [2]:
class Student(SQLModel, table=True):
    id: Optional[int] = Field(default=None, primary_key=True)
    name: str = Field(index=True)
    user_name: str
    degree: Optional[int] = None

In [3]:
SQLALCHEMY_DATABASE_URL="postgresql://train:Ankara06@localhost:5433/traindb"

In [4]:
engine = create_engine(SQLALCHEMY_DATABASE_URL, echo=True)

In [5]:
def create_db_and_tables():
    SQLModel.metadata.create_all(engine)

In [ ]:
# drop table student

In [7]:
create_db_and_tables()

2022-11-19 17:42:23,437 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 17:42:23,459 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-11-19 17:42:23,464 INFO sqlalchemy.engine.Engine [cached since 50.65s ago] {'name': 'student'}
2022-11-19 17:42:23,474 INFO sqlalchemy.engine.Engine
CREATE TABLE student (
	id SERIAL NOT NULL,
	name VARCHAR NOT NULL,
	user_name VARCHAR NOT NULL,
	degree INTEGER,
	PRIMARY KEY (id)
)


2022-11-19 17:42:23,478 INFO sqlalchemy.engine.Engine [no key 0.00432s] {}
2022-11-19 17:42:23,501 INFO sqlalchemy.engine.Engine CREATE INDEX ix_student_name ON student (name)
2022-11-19 17:42:23,504 INFO sqlalchemy.engine.Engine [no key 0.00296s] {}
2022-11-19 17:42:23,514 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
def create_students():
    std_1 = Student(name="Hicaziye HAMİDİYELİ", user_name="crazy_hicaziye")
    std_2 = Student(name="Satılmış KURT", user_name="naive_18")
    std_3 = Student(name="Menşure GÜNDÜZ", user_name="angel_eyes", degree=3)
    std_4 = Student(name="Mehtap HAMİDİYELİ", user_name="cop_mehtiye", degree=5)
    std_5 = Student(name="Mevlüt SANCAK", user_name="cute_goril", degree=1)
    std_6 = Student(name="Semra GÜLSEVEN", user_name="learning_journal", degree=3)
    std_7 = Student(name="Şehriban ÇELEN", user_name="aligidi_bakery", degree=4)
    std_8 = Student(name="Muhittin GÜLER", user_name="neighbor_uncle", degree=2)
    std_9 = Student(name="Peçenekli SÜLEYMAN", user_name="string_teller", degree=4)
    
    objects = [std_1, std_2, std_3, std_4, std_5, std_6, std_7, std_8, std_9]
    with Session(engine) as session:  # 
        session.bulk_save_objects(objects)
        session.commit()

In [10]:
create_students()

2022-11-19 17:57:23,374 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 17:57:23,384 INFO sqlalchemy.engine.Engine INSERT INTO student (name, user_name) VALUES (%(name)s, %(user_name)s)
2022-11-19 17:57:23,388 INFO sqlalchemy.engine.Engine [generated in 0.00420s] ({'name': 'Hicaziye HAMİDİYELİ', 'user_name': 'crazy_hicaziye'}, {'name': 'Satılmış KURT', 'user_name': 'naive_18'})
2022-11-19 17:57:23,398 INFO sqlalchemy.engine.Engine INSERT INTO student (name, user_name, degree) VALUES (%(name)s, %(user_name)s, %(degree)s)
2022-11-19 17:57:23,400 INFO sqlalchemy.engine.Engine [generated in 0.00278s] ({'name': 'Menşure GÜNDÜZ', 'user_name': 'angel_eyes', 'degree': 3}, {'name': 'Mehtap HAMİDİYELİ', 'user_name': 'cop_mehtiye', 'degree': 5}, {'name': 'Mevlüt SANCAK', 'user_name': 'cute_goril', 'degree': 1}, {'name': 'Semra GÜLSEVEN', 'user_name': 'learning_journal', 'degree': 3}, {'name': 'Şehriban ÇELEN', 'user_name': 'aligidi_bakery', 'degree': 4}, {'name': 'Muhittin GÜLER', 'user_name': 'neighbor_uncle', 'degree': 2}, {'name': 'Peçenekli SÜLEYMAN', 'user_name': 'string_teller', 'degree': 4})
2022-11-19 17:57:23,405 INFO sqlalchemy.engine.Engine COMMIT

# Select with Limit

In [13]:
def select_students():
    with Session(engine) as session:
        statement = select(Student).limit(3)
        results = session.exec(statement)
        students = results.all()
        print(students)

In [14]:
select_students()

2022-11-19 18:43:27,010 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 18:43:27,014 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
 LIMIT %(param_1)s
2022-11-19 18:43:27,016 INFO sqlalchemy.engine.Engine [cached since 76.7s ago] {'param_1': 3}
[Student(name='Hicaziye HAMİDİYELİ', id=1, degree=None, user_name='crazy_hicaziye'), Student(name='Satılmış KURT', id=2, degree=None, user_name='naive_18'), Student(name='Menşure GÜNDÜZ', id=3, degree=3, user_name='angel_eyes')]
2022-11-19 18:43:27,021 INFO sqlalchemy.engine.Engine ROLLBACK

# Select with Offset and Limit

## How do we get the next 3?

In [17]:
# start selecting from 3 (offset) and limit 3.

In [15]:
def select_students2():
    with Session(engine) as session:
        statement = select(Student).offset(3).limit(3)
        results = session.exec(statement)
        students = results.all()
        print(students)

In [16]:
select_students2()

2022-11-19 18:43:57,810 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 18:43:57,816 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
 LIMIT %(param_1)s OFFSET %(param_2)s
2022-11-19 18:43:57,819 INFO sqlalchemy.engine.Engine [generated in 0.00333s] {'param_1': 3, 'param_2': 3}
[Student(name='Mehtap HAMİDİYELİ', id=4, degree=5, user_name='cop_mehtiye'), Student(name='Mevlüt SANCAK', id=5, degree=1, user_name='cute_goril'), Student(name='Semra GÜLSEVEN', id=6, degree=3, user_name='learning_journal')]
2022-11-19 18:43:57,825 INFO sqlalchemy.engine.Engine ROLLBACK

# Include filtering

In [21]:
def select_students3():
    with Session(engine) as session:
        statement = select(Student).where(Student.degree == 2).limit(3)
        results = session.exec(statement)
        students = results.all()
        print(students)

In [22]:
select_students3()

2022-11-19 18:47:37,393 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 18:47:37,401 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
WHERE student.degree = %(degree_1)s
 LIMIT %(param_1)s
2022-11-19 18:47:37,404 INFO sqlalchemy.engine.Engine [generated in 0.00319s] {'degree_1': 2, 'param_1': 3}
[Student(name='Muhittin GÜLER', id=8, degree=2, user_name='neighbor_uncle')]
2022-11-19 18:47:37,408 INFO sqlalchemy.engine.Engine ROLLBACK