In [1]:
from typing import Optional
from sqlmodel import Field, Session, SQLModel, create_engine, select

In [2]:
class Student(SQLModel, table=True):
    id: Optional[int] = Field(default=None, primary_key=True)
    name: str = Field(index=True)
    user_name: str
    degree: Optional[int] = None

In [3]:
SQLALCHEMY_DATABASE_URL="postgresql://train:Ankara06@localhost:5433/traindb"

In [4]:
engine = create_engine(SQLALCHEMY_DATABASE_URL, echo=True)

In [5]:
def create_db_and_tables():
    SQLModel.metadata.create_all(engine)

In [6]:
# drop table student

In [7]:
create_db_and_tables()

2022-11-19 19:04:52,284 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2022-11-19 19:04:52,287 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-11-19 19:04:52,292 INFO sqlalchemy.engine.Engine select current_schema()
2022-11-19 19:04:52,295 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-11-19 19:04:52,299 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2022-11-19 19:04:52,301 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-11-19 19:04:52,306 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 19:04:52,311 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-11-19 19:04:52,313 INFO sqlalchemy.engine.Engine [generated in 0.00283s] {'name': 'student'}
2022-11-19 19:04:52,321 INFO sqlalchemy.engine.Engine
CREATE TABLE student (
	id SERIAL NOT NULL,
	name VARCHAR NOT NULL,
	user_name VARCHAR NOT NULL,
	degree INTEGER,
	PRIMARY KEY (id)
)


2022-11-19 19:04:52,324 INFO sqlalchemy.engine.Engine [no key 0.00297s] {}
2022-11-19 19:04:52,344 INFO sqlalchemy.engine.Engine CREATE INDEX ix_student_name ON student (name)
2022-11-19 19:04:52,347 INFO sqlalchemy.engine.Engine [no key 0.00315s] {}
2022-11-19 19:04:52,355 INFO sqlalchemy.engine.Engine COMMIT

In [8]:
def create_students():
    std_1 = Student(name="Hicaziye HAMİDİYELİ", user_name="crazy_hicaziye")
    std_2 = Student(name="Satılmış KURT", user_name="naive_18")
    std_3 = Student(name="Menşure GÜNDÜZ", user_name="angel_eyes", degree=3)
    std_4 = Student(name="Mehtap HAMİDİYELİ", user_name="cop_mehtiye", degree=5)
    std_5 = Student(name="Mevlüt SANCAK", user_name="cute_goril", degree=1)
    std_6 = Student(name="Semra GÜLSEVEN", user_name="learning_journal", degree=3)
    std_7 = Student(name="Şehriban ÇELEN", user_name="aligidi_bakery", degree=4)
    std_8 = Student(name="Muhittin GÜLER", user_name="neighbor_uncle", degree=2)
    std_9 = Student(name="Peçenekli SÜLEYMAN", user_name="string_teller", degree=4)
    
    objects = [std_1, std_2, std_3, std_4, std_5, std_6, std_7, std_8, std_9]
    with Session(engine) as session:  # 
        session.bulk_save_objects(objects)
        session.commit()

In [9]:
create_students()

2022-11-19 19:05:10,950 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 19:05:10,967 INFO sqlalchemy.engine.Engine INSERT INTO student (name, user_name) VALUES (%(name)s, %(user_name)s)
2022-11-19 19:05:10,970 INFO sqlalchemy.engine.Engine [generated in 0.00286s] ({'name': 'Hicaziye HAMİDİYELİ', 'user_name': 'crazy_hicaziye'}, {'name': 'Satılmış KURT', 'user_name': 'naive_18'})
2022-11-19 19:05:10,978 INFO sqlalchemy.engine.Engine INSERT INTO student (name, user_name, degree) VALUES (%(name)s, %(user_name)s, %(degree)s)
2022-11-19 19:05:10,980 INFO sqlalchemy.engine.Engine [generated in 0.00284s] ({'name': 'Menşure GÜNDÜZ', 'user_name': 'angel_eyes', 'degree': 3}, {'name': 'Mehtap HAMİDİYELİ', 'user_name': 'cop_mehtiye', 'degree': 5}, {'name': 'Mevlüt SANCAK', 'user_name': 'cute_goril', 'degree': 1}, {'name': 'Semra GÜLSEVEN', 'user_name': 'learning_journal', 'degree': 3}, {'name': 'Şehriban ÇELEN', 'user_name': 'aligidi_bakery', 'degree': 4}, {'name': 'Muhittin GÜLER', 'user_name': 'neighbor_uncle', 'degree': 2}, {'name': 'Peçenekli SÜLEYMAN', 'user_name': 'string_teller', 'degree': 4})
2022-11-19 19:05:10,988 INFO sqlalchemy.engine.Engine COMMIT

# Update a single row - Set a Field Value

In [10]:
def update_student():
    with Session(engine) as session:
        statement = select(Student).where(Student.name == "Semra GÜLSEVEN")
        results = session.exec(statement)
        student = results.one()
        print("Srudent:", student)

        student.degree = 4
        session.add(student)
        session.commit()
        session.refresh(student)
        print("Updated student:", student)

In [11]:
update_student()

2022-11-19 19:10:08,894 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 19:10:08,905 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
WHERE student.name = %(name_1)s
2022-11-19 19:10:08,908 INFO sqlalchemy.engine.Engine [generated in 0.00317s] {'name_1': 'Semra GÜLSEVEN'}
Srudent: name='Semra GÜLSEVEN' user_name='learning_journal' id=6 degree=3
2022-11-19 19:10:08,918 INFO sqlalchemy.engine.Engine UPDATE student SET degree=%(degree)s WHERE student.id = %(student_id)s
2022-11-19 19:10:08,921 INFO sqlalchemy.engine.Engine [generated in 0.00252s] {'degree': 4, 'student_id': 6}
2022-11-19 19:10:08,925 INFO sqlalchemy.engine.Engine COMMIT
2022-11-19 19:10:08,932 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 19:10:08,938 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
WHERE student.id = %(pk_1)s
2022-11-19 19:10:08,940 INFO sqlalchemy.engine.Engine [generated in 0.00265s] {'pk_1': 6}
Updated student: name='Semra GÜLSEVEN' user_name='learning_journal' id=6 degree=4
2022-11-19 19:10:08,945 INFO sqlalchemy.engine.Engine ROLLBACK

# Multiple Updates

In [12]:
def update_student2():
    with Session(engine) as session:
        statement = select(Student).where(Student.name == "Semra GÜLSEVEN")
        results = session.exec(statement)
        student1 = results.one()
        print("Srudent:", student1)
        
        student1.degree = 4
        session.add(student1)
        
        
        statement = select(Student).where(Student.name == "Peçenekli SÜLEYMAN")
        results = session.exec(statement)
        student2 = results.one()
        print("Srudent:", student2)
        student2.degree = 4
        session.add(student2)
        
        session.commit()
        session.refresh(student1)
        session.refresh(student2)
        print("Updated student2:", student1)
        print("Updated student2:", student2)

In [13]:
update_student2()

2022-11-19 19:14:33,894 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 19:14:33,900 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
WHERE student.name = %(name_1)s
2022-11-19 19:14:33,902 INFO sqlalchemy.engine.Engine [cached since 265s ago] {'name_1': 'Semra GÜLSEVEN'}
Srudent: name='Semra GÜLSEVEN' user_name='learning_journal' id=6 degree=4
2022-11-19 19:14:33,915 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
WHERE student.name = %(name_1)s
2022-11-19 19:14:33,918 INFO sqlalchemy.engine.Engine [cached since 265s ago] {'name_1': 'Peçenekli SÜLEYMAN'}
Srudent: name='Peçenekli SÜLEYMAN' user_name='string_teller' id=9 degree=4
2022-11-19 19:14:33,926 INFO sqlalchemy.engine.Engine COMMIT
2022-11-19 19:14:33,932 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 19:14:33,936 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
WHERE student.id = %(pk_1)s
2022-11-19 19:14:33,940 INFO sqlalchemy.engine.Engine [cached since 265s ago] {'pk_1': 6}
2022-11-19 19:14:33,947 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
WHERE student.id = %(pk_1)s
2022-11-19 19:14:33,949 INFO sqlalchemy.engine.Engine [cached since 265s ago] {'pk_1': 9}
Updated student2: name='Semra GÜLSEVEN' user_name='learning_journal' id=6 degree=4
Updated student2: name='Peçenekli SÜLEYMAN' user_name='string_teller' id=9 degree=4
2022-11-19 19:14:33,953 INFO sqlalchemy.engine.Engine ROLLBACK