In [1]:
from typing import Optional
from sqlmodel import Field, Session, SQLModel, create_engine, select, delete

In [2]:
class Student(SQLModel, table=True):
    id: Optional[int] = Field(default=None, primary_key=True)
    name: str = Field(index=True)
    user_name: str
    degree: Optional[int] = None

In [3]:
SQLALCHEMY_DATABASE_URL="postgresql://train:Ankara06@localhost:5433/traindb"

In [4]:
engine = create_engine(SQLALCHEMY_DATABASE_URL, echo=True)

In [5]:
def create_db_and_tables():
    SQLModel.metadata.create_all(engine)

In [6]:
create_db_and_tables()

2023-05-15 10:54:57,246 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-05-15 10:54:57,250 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-15 10:54:57,254 INFO sqlalchemy.engine.Engine select current_schema()
2023-05-15 10:54:57,257 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-15 10:54:57,261 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-05-15 10:54:57,263 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-15 10:54:57,266 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-15 10:54:57,270 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-05-15 10:54:57,272 INFO sqlalchemy.engine.Engine [generated in 0.00203s] {'name': 'student'}
2023-05-15 10:54:57,278 INFO sqlalchemy.engine.Engine
CREATE TABLE student (
	id SERIAL NOT NULL,
	name VARCHAR NOT NULL,
	user_name VARCHAR NOT NULL,
	degree INTEGER,
	PRIMARY KEY (id)
)


2023-05-15 10:54:57,280 INFO sqlalchemy.engine.Engine [no key 0.00244s] {}
2023-05-15 10:54:57,298 INFO sqlalchemy.engine.Engine CREATE INDEX ix_student_name ON student (name)
2023-05-15 10:54:57,300 INFO sqlalchemy.engine.Engine [no key 0.00258s] {}
2023-05-15 10:54:57,307 INFO sqlalchemy.engine.Engine COMMIT

In [7]:
def create_students():
    std_1 = Student(name="Hicaziye HAMİDİYELİ", user_name="crazy_hicaziye")
    std_2 = Student(name="Satılmış KURT", user_name="naive_18")
    std_3 = Student(name="Menşure GÜNDÜZ", user_name="angel_eyes", degree=3)
    std_4 = Student(name="Mehtap HAMİDİYELİ", user_name="cop_mehtiye", degree=5)
    std_5 = Student(name="Mevlüt SANCAK", user_name="cute_goril", degree=1)
    std_6 = Student(name="Semra GÜLSEVEN", user_name="learning_journal", degree=3)
    std_7 = Student(name="Şehriban ÇELEN", user_name="aligidi_bakery", degree=4)
    std_8 = Student(name="Muhittin GÜLER", user_name="neighbor_uncle", degree=2)
    std_9 = Student(name="Peçenekli SÜLEYMAN", user_name="string_teller", degree=4)
    
    objects = [std_1, std_2, std_3, std_4, std_5, std_6, std_7, std_8, std_9]
    with Session(engine) as session:  # 
        session.bulk_save_objects(objects)
        session.commit()

In [8]:
create_students()

2023-05-15 10:55:15,404 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-15 10:55:15,408 INFO sqlalchemy.engine.Engine INSERT INTO student (name, user_name) VALUES (%(name)s, %(user_name)s)
2023-05-15 10:55:15,410 INFO sqlalchemy.engine.Engine [generated in 0.00233s] ({'name': 'Hicaziye HAMİDİYELİ', 'user_name': 'crazy_hicaziye'}, {'name': 'Satılmış KURT', 'user_name': 'naive_18'})
2023-05-15 10:55:15,419 INFO sqlalchemy.engine.Engine INSERT INTO student (name, user_name, degree) VALUES (%(name)s, %(user_name)s, %(degree)s)
2023-05-15 10:55:15,422 INFO sqlalchemy.engine.Engine [generated in 0.00380s] ({'name': 'Menşure GÜNDÜZ', 'user_name': 'angel_eyes', 'degree': 3}, {'name': 'Mehtap HAMİDİYELİ', 'user_name': 'cop_mehtiye', 'degree': 5}, {'name': 'Mevlüt SANCAK', 'user_name': 'cute_goril', 'degree': 1}, {'name': 'Semra GÜLSEVEN', 'user_name': 'learning_journal', 'degree': 3}, {'name': 'Şehriban ÇELEN', 'user_name': 'aligidi_bakery', 'degree': 4}, {'name': 'Muhittin GÜLER', 'user_name': 'neighbor_uncle', 'degree': 2}, {'name': 'Peçenekli SÜLEYMAN', 'user_name': 'string_teller', 'degree': 4})
2023-05-15 10:55:15,427 INFO sqlalchemy.engine.Engine COMMIT

# Delete one row

In [9]:
def delete_student():
    with Session(engine) as session:
        statement = select(Student).where(Student.name == "Peçenekli SÜLEYMAN")
        results = session.exec(statement)
        student = results.one()
        print("Student: ", student)

        session.delete(student)
        session.commit()
        
        print("Deleted student:", student)
        
        statement = select(Student).where(Student.name == "Peçenekli SÜLEYMAN")
        results = session.exec(statement)
        student = results.first()
        if student is None:
            print("There's no student named Peçenekli SÜLEYMAN")

In [10]:
delete_student()

2023-05-15 10:55:51,163 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-15 10:55:51,183 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
WHERE student.name = %(name_1)s
2023-05-15 10:55:51,185 INFO sqlalchemy.engine.Engine [generated in 0.00315s] {'name_1': 'Peçenekli SÜLEYMAN'}
Student:  degree=4 id=9 name='Peçenekli SÜLEYMAN' user_name='string_teller'
2023-05-15 10:55:51,197 INFO sqlalchemy.engine.Engine DELETE FROM student WHERE student.id = %(id)s
2023-05-15 10:55:51,200 INFO sqlalchemy.engine.Engine [generated in 0.00268s] {'id': 9}
2023-05-15 10:55:51,203 INFO sqlalchemy.engine.Engine COMMIT
Deleted student: degree=4 id=9 name='Peçenekli SÜLEYMAN' user_name='string_teller'
2023-05-15 10:55:51,209 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-15 10:55:51,212 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
WHERE student.name = %(name_1)s
2023-05-15 10:55:51,215 INFO sqlalchemy.engine.Engine [cached since 0.03247s ago] {'name_1': 'Peçenekli SÜLEYMAN'}
There's no student named Peçenekli SÜLEYMAN
2023-05-15 10:55:51,218 INFO sqlalchemy.engine.Engine ROLLBACK

    traindb=> select * from student;
     id |        name         |    user_name     | degree
    ----+---------------------+------------------+--------
      1 | Hicaziye HAMİDİYELİ | crazy_hicaziye   |
      2 | Satılmış KURT       | naive_18         |
      3 | Menşure GÜNDÜZ      | angel_eyes       |      3
      4 | Mehtap HAMİDİYELİ   | cop_mehtiye      |      5
      5 | Mevlüt SANCAK       | cute_goril       |      1
      6 | Semra GÜLSEVEN      | learning_journal |      3
      7 | Şehriban ÇELEN      | aligidi_bakery   |      4
      8 | Muhittin GÜLER      | neighbor_uncle   |      2
    (8 rows)

# Delete multiple rows

In [11]:
def delete_student2():
    with Session(engine) as session:
        statement = delete(Student).where(Student.degree == 3)
        results = session.exec(statement)
        session.commit()

In [12]:
delete_student2()

2023-05-15 10:56:28,463 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-15 10:56:28,478 INFO sqlalchemy.engine.Engine DELETE FROM student WHERE student.degree = %(degree_1)s
2023-05-15 10:56:28,480 INFO sqlalchemy.engine.Engine [generated in 0.00271s] {'degree_1': 3}
2023-05-15 10:56:28,485 INFO sqlalchemy.engine.Engine COMMIT

    traindb=> select * from student;
     id |        name         |   user_name    | degree
    ----+---------------------+----------------+--------
      1 | Hicaziye HAMİDİYELİ | crazy_hicaziye |
      2 | Satılmış KURT       | naive_18       |
      4 | Mehtap HAMİDİYELİ   | cop_mehtiye    |      5
      5 | Mevlüt SANCAK       | cute_goril     |      1
      7 | Şehriban ÇELEN      | aligidi_bakery |      4
      8 | Muhittin GÜLER      | neighbor_uncle |      2
    (6 rows)