In [21]:
from typing import Optional
from sqlmodel import Field, Session, select, SQLModel, create_engine

In [2]:
class Club(SQLModel, table=True):
    id: Optional[int] = Field(default=None, primary_key=True)
    name: str = Field(index=True)
    info: str

In [3]:
class Student(SQLModel, table=True):
    id: Optional[int] = Field(default=None, primary_key=True)
    name: str = Field(index=True)
    user_name: str
    degree: Optional[int] = None
    
    club_id: Optional[int] = Field(default=None, foreign_key="club.id")

    The column will be named club_id. It will be an integer, and it could be NULL in the database (or None in Python), becase there could be some students that don't belong to any club.
    
    We add a default of None to the Field() so we don't have to explicitly pass club_id=None when creating a student.

    Notice that the foreign_key is a string.

    Inside it has the name of the table, then a dot, and then the name of the column.
    This is the name of the table in the database, so it is "club", not the name of the model class Club (with a capital C).

In [4]:
SQLALCHEMY_DATABASE_URL="postgresql://train:Ankara06@localhost:5433/traindb"

In [5]:
engine = create_engine(SQLALCHEMY_DATABASE_URL, echo=True)

In [6]:
def create_db_and_tables():
    SQLModel.metadata.create_all(engine)

In [7]:
# drop student

In [8]:
create_db_and_tables()

2022-11-19 20:02:15,003 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2022-11-19 20:02:15,005 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-11-19 20:02:15,012 INFO sqlalchemy.engine.Engine select current_schema()
2022-11-19 20:02:15,014 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-11-19 20:02:15,018 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2022-11-19 20:02:15,020 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-11-19 20:02:15,024 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 20:02:15,028 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-11-19 20:02:15,030 INFO sqlalchemy.engine.Engine [generated in 0.00260s] {'name': 'club'}
2022-11-19 20:02:15,035 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-11-19 20:02:15,038 INFO sqlalchemy.engine.Engine [cached since 0.01068s ago] {'name': 'student'}
2022-11-19 20:02:15,047 INFO sqlalchemy.engine.Engine
CREATE TABLE club (
	id SERIAL NOT NULL,
	name VARCHAR NOT NULL,
	info VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2022-11-19 20:02:15,049 INFO sqlalchemy.engine.Engine [no key 0.00269s] {}
2022-11-19 20:02:15,070 INFO sqlalchemy.engine.Engine CREATE INDEX ix_club_name ON club (name)
2022-11-19 20:02:15,073 INFO sqlalchemy.engine.Engine [no key 0.00288s] {}
2022-11-19 20:02:15,081 INFO sqlalchemy.engine.Engine
CREATE TABLE student (
	id SERIAL NOT NULL,
	name VARCHAR NOT NULL,
	user_name VARCHAR NOT NULL,
	degree INTEGER,
	club_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(club_id) REFERENCES club (id)
)


2022-11-19 20:02:15,084 INFO sqlalchemy.engine.Engine [no key 0.00223s] {}
2022-11-19 20:02:15,105 INFO sqlalchemy.engine.Engine CREATE INDEX ix_student_name ON student (name)
2022-11-19 20:02:15,107 INFO sqlalchemy.engine.Engine [no key 0.00253s] {}
2022-11-19 20:02:15,113 INFO sqlalchemy.engine.Engine COMMIT

    traindb=> \dt
            List of relations
     Schema |  Name   | Type  | Owner
    --------+---------+-------+-------
     public | club    | table | train
     public | student | table | train
    (2 rows)

## Describe student

    traindb=> \d student;
                                       Table "public.student"
      Column   |       Type        | Collation | Nullable |               Default
    -----------+-------------------+-----------+----------+-------------------------------------
     id        | integer           |           | not null | nextval('student_id_seq'::regclass)
     name      | character varying |           | not null |
     user_name | character varying |           | not null |
     degree    | integer           |           |          |
     club_id   | integer           |           |          |
    Indexes:
        "student_pkey" PRIMARY KEY, btree (id)
        "ix_student_name" btree (name)
    Foreign-key constraints:
        "student_club_id_fkey" FOREIGN KEY (club_id) REFERENCES club(id)

# Create clubs

In [16]:
def create_clubs():
    dance = Club(name="Modern Dances", info="""The purpose of our club; 
    To provide training to its members in Latin Dances, Modern Dances and Freestyle Dances.
    It is waiting for its new members to attend these trainings accompanied 
    by professional trainers.""")
    
    theatre = Club(name="Theatre", info=""" 
    The purpose of our club; It is to show with university students that amateur theater
    is to do professional work with amateur actors and to ensure that students studying in 
    City meet with theater with our Amateur Theater Days Festival, which we have been organizing for 18 years.""")
    
    jazz = Club(name="Jazz", info="""
    Jazz Club is committed to supporting jazz across university, 
    but also, where we can, across the country. 
    """)
    
    objects = [dance, theatre, jazz]
    with Session(engine) as session:  # 
        session.bulk_save_objects(objects)
        session.commit()

In [17]:
create_clubs()

2022-11-19 20:30:57,170 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 20:30:57,178 INFO sqlalchemy.engine.Engine INSERT INTO club (name, info) VALUES (%(name)s, %(info)s)
2022-11-19 20:30:57,180 INFO sqlalchemy.engine.Engine [cached since 44.74s ago] ({'name': 'Modern Dances', 'info': 'The purpose of our club; \n    To provide training to its members in Latin Dances, Modern Dances and Freestyle Dances.\n    It is waiting for its new members to attend these trainings accompanied \n    by professional trainers.'}, {'name': 'Theatre', 'info': ' \n    The purpose of our club; It is to show with university students that amateur theater\n    is to do professional work with amateur actors and to ensure that students studying in \n    City meet with theater with our Amateur Theater Days Festival, which we have been organizing for 18 years.'}, {'name': 'Jazz', 'info': '\n    Jazz Club is committed to supporting jazz across university, \n    but also, where we can, across the country. \n    '})
2022-11-19 20:30:57,185 INFO sqlalchemy.engine.Engine COMMIT

In [19]:
def create_students():
    
    with Session(engine) as session:
        statement = select(Club).where(Club.name == "Modern Dances")
        results = session.exec(statement)
        dance = results.one()
        
        statement = select(Club).where(Club.name == "Jazz")
        results = session.exec(statement)
        jazz = results.one()
        
        
        std_1 = Student(name="Hicaziye HAMİDİYELİ", user_name="crazy_hicaziye", club_id=dance.id )
        std_2 = Student(name="Satılmış KURT", user_name="naive_18")
        std_3 = Student(name="Menşure GÜNDÜZ", user_name="angel_eyes", degree=3, club_id=jazz.id)
        std_4 = Student(name="Mehtap HAMİDİYELİ", user_name="cop_mehtiye", degree=5, club_id=dance.id)
        std_5 = Student(name="Mevlüt SANCAK", user_name="cute_goril", degree=1)
        std_6 = Student(name="Semra GÜLSEVEN", user_name="learning_journal", degree=3, club_id=jazz.id)
        std_7 = Student(name="Şehriban ÇELEN", user_name="aligidi_bakery", degree=4, club_id=jazz.id)
        std_8 = Student(name="Muhittin GÜLER", user_name="neighbor_uncle", degree=2)
        std_9 = Student(name="Peçenekli SÜLEYMAN", user_name="string_teller", degree=4, club_id=jazz.id)
        
        objects = [std_1, std_2, std_3, std_4, std_5, std_6, std_7, std_8, std_9]
        session.bulk_save_objects(objects)
        session.commit()

In [22]:
create_students()

2022-11-19 20:40:54,104 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 20:40:54,112 INFO sqlalchemy.engine.Engine SELECT club.id, club.name, club.info
FROM club
WHERE club.name = %(name_1)s
2022-11-19 20:40:54,115 INFO sqlalchemy.engine.Engine [generated in 0.00288s] {'name_1': 'Modern Dances'}
2022-11-19 20:40:54,122 INFO sqlalchemy.engine.Engine SELECT club.id, club.name, club.info
FROM club
WHERE club.name = %(name_1)s
2022-11-19 20:40:54,125 INFO sqlalchemy.engine.Engine [cached since 0.01277s ago] {'name_1': 'Jazz'}
2022-11-19 20:40:54,134 INFO sqlalchemy.engine.Engine INSERT INTO student (name, user_name, club_id) VALUES (%(name)s, %(user_name)s, %(club_id)s) RETURNING student.id
2022-11-19 20:40:54,138 INFO sqlalchemy.engine.Engine [generated in 0.00344s] {'name': 'Hicaziye HAMİDİYELİ', 'user_name': 'crazy_hicaziye', 'club_id': 4}
2022-11-19 20:40:54,147 INFO sqlalchemy.engine.Engine INSERT INTO student (name, user_name) VALUES (%(name)s, %(user_name)s) RETURNING student.id
2022-11-19 20:40:54,150 INFO sqlalchemy.engine.Engine [generated in 0.00318s] {'name': 'Satılmış KURT', 'user_name': 'naive_18'}
2022-11-19 20:40:54,155 INFO sqlalchemy.engine.Engine INSERT INTO student (name, user_name, degree, club_id) VALUES (%(name)s, %(user_name)s, %(degree)s, %(club_id)s)
2022-11-19 20:40:54,158 INFO sqlalchemy.engine.Engine [generated in 0.00291s] ({'name': 'Menşure GÜNDÜZ', 'user_name': 'angel_eyes', 'degree': 3, 'club_id': 6}, {'name': 'Mehtap HAMİDİYELİ', 'user_name': 'cop_mehtiye', 'degree': 5, 'club_id': 4})
2022-11-19 20:40:54,163 INFO sqlalchemy.engine.Engine INSERT INTO student (name, user_name, degree) VALUES (%(name)s, %(user_name)s, %(degree)s) RETURNING student.id
2022-11-19 20:40:54,165 INFO sqlalchemy.engine.Engine [generated in 0.00232s] {'name': 'Mevlüt SANCAK', 'user_name': 'cute_goril', 'degree': 1}
2022-11-19 20:40:54,170 INFO sqlalchemy.engine.Engine INSERT INTO student (name, user_name, degree, club_id) VALUES (%(name)s, %(user_name)s, %(degree)s, %(club_id)s)
2022-11-19 20:40:54,173 INFO sqlalchemy.engine.Engine [cached since 0.01841s ago] ({'name': 'Semra GÜLSEVEN', 'user_name': 'learning_journal', 'degree': 3, 'club_id': 6}, {'name': 'Şehriban ÇELEN', 'user_name': 'aligidi_bakery', 'degree': 4, 'club_id': 6})
2022-11-19 20:40:54,179 INFO sqlalchemy.engine.Engine INSERT INTO student (name, user_name, degree) VALUES (%(name)s, %(user_name)s, %(degree)s) RETURNING student.id
2022-11-19 20:40:54,181 INFO sqlalchemy.engine.Engine [cached since 0.01893s ago] {'name': 'Muhittin GÜLER', 'user_name': 'neighbor_uncle', 'degree': 2}
2022-11-19 20:40:54,186 INFO sqlalchemy.engine.Engine INSERT INTO student (name, user_name, degree, club_id) VALUES (%(name)s, %(user_name)s, %(degree)s, %(club_id)s) RETURNING student.id
2022-11-19 20:40:54,188 INFO sqlalchemy.engine.Engine [generated in 0.00219s] {'name': 'Peçenekli SÜLEYMAN', 'user_name': 'string_teller', 'degree': 4, 'club_id': 6}
2022-11-19 20:40:54,192 INFO sqlalchemy.engine.Engine COMMIT

# Read connected data

In [25]:
def select_students():
    with Session(engine) as session:
        statement = select(Student, Club).where(Student.club_id == Club.id)
        results = session.exec(statement)
        for student, club in results:
            print("Student:", student.name, "Club:", club.name)

In [26]:
select_students()

2022-11-19 20:51:11,086 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 20:51:11,094 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree, student.club_id, club.id AS id_1, club.name AS name_1, club.info
FROM student, club
WHERE student.club_id = club.id
2022-11-19 20:51:11,096 INFO sqlalchemy.engine.Engine [cached since 24.83s ago] {}
Student: Hicaziye HAMİDİYELİ Club: Modern Dances
Student: Menşure GÜNDÜZ Club: Jazz
Student: Mehtap HAMİDİYELİ Club: Modern Dances
Student: Semra GÜLSEVEN Club: Jazz
Student: Şehriban ÇELEN Club: Jazz
Student: Peçenekli SÜLEYMAN Club: Jazz
2022-11-19 20:51:11,102 INFO sqlalchemy.engine.Engine ROLLBACK

# Join Tables in SQLModel

In [27]:
def select_students2():
    with Session(engine) as session:
        statement = select(Student, Club).join(Club)
        results = session.exec(statement)
        for student, club in results:
            print("Student:", student.name, "Club:", club.name)

In [28]:
select_students2()

2022-11-19 20:53:06,575 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 20:53:06,582 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree, student.club_id, club.id AS id_1, club.name AS name_1, club.info
FROM student JOIN club ON club.id = student.club_id
2022-11-19 20:53:06,588 INFO sqlalchemy.engine.Engine [generated in 0.00648s] {}
Student: Hicaziye HAMİDİYELİ Club: Modern Dances
Student: Menşure GÜNDÜZ Club: Jazz
Student: Mehtap HAMİDİYELİ Club: Modern Dances
Student: Semra GÜLSEVEN Club: Jazz
Student: Şehriban ÇELEN Club: Jazz
Student: Peçenekli SÜLEYMAN Club: Jazz
2022-11-19 20:53:06,595 INFO sqlalchemy.engine.Engine ROLLBACK

# Join Tables in SQLModel with LEFT OUTER

In [33]:
def select_students3():
    with Session(engine) as session:
        statement = select(Student, Club).join(Club, isouter=True)
        results = session.exec(statement)
        for student, club in results:
            print("Student:", student)

In [34]:
select_students3()

2022-11-19 20:56:39,323 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 20:56:39,328 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree, student.club_id, club.id AS id_1, club.name AS name_1, club.info
FROM student LEFT OUTER JOIN club ON club.id = student.club_id
2022-11-19 20:56:39,330 INFO sqlalchemy.engine.Engine [cached since 140.7s ago] {}
Student: id=1 name='Hicaziye HAMİDİYELİ' degree=None user_name='crazy_hicaziye' club_id=4
Student: id=2 name='Satılmış KURT' degree=None user_name='naive_18' club_id=None
Student: id=3 name='Menşure GÜNDÜZ' degree=3 user_name='angel_eyes' club_id=6
Student: id=4 name='Mehtap HAMİDİYELİ' degree=5 user_name='cop_mehtiye' club_id=4
Student: id=5 name='Mevlüt SANCAK' degree=1 user_name='cute_goril' club_id=None
Student: id=6 name='Semra GÜLSEVEN' degree=3 user_name='learning_journal' club_id=6
Student: id=7 name='Şehriban ÇELEN' degree=4 user_name='aligidi_bakery' club_id=6
Student: id=8 name='Muhittin GÜLER' degree=2 user_name='neighbor_uncle' club_id=None
Student: id=9 name='Peçenekli SÜLEYMAN' degree=4 user_name='string_teller' club_id=6
2022-11-19 20:56:39,336 INFO sqlalchemy.engine.Engine ROLLBACK